element-colors {
  --primary: #DE8F75;
  --scondary: #5F75AA;
  --complement1: #AEB6C1;
  --complement3: #A9095E;
  --complement4: #2A5A75;
  --black: #000000;
  --white: #FFFFFF;
  --sucess: #32917B;
  --gray-dark: #EBEBEB;
  --gray-light: #E3E3E3;
  --gray-lighter: #CCCCCC;
  --Ellipse1: #ADADAD;
  --Ellipse2: #7F7F7F;
  --Ellipse3: #686868;
}

.header-page {
  text-align: center;
  padding: 43px 26px 43px 26px;
  border: 2px solid #E3E3E3;
}

.nav-links {
  color: #686868;
  font-size: 17px;
  text-decoration: none;
  color: var(--Ellipse3);
  text-align: center;
  padding: 17px 50px 17px 40px;
  border-bottom: 2px solid #E3E3E3;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link {
  color: #686868;
  text-decoration: none;
  margin-left: 10px;
  margin-right: 10px;
}

.routers {
  margin: 0px 35px 0px 35px;
}

.link:hover {
  border-bottom: 1px solid #686868;
}

input[type="text" i] {
  width: 100px;
  border: none;
  border-bottom: 2px solid #686868;
}